# Baseline

In [23]:
import numpy as np
import pandas as pd
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split, cross_validate, StratifiedGroupKFold, KFold

## Загрузка данных

In [24]:
train_df = pd.read_parquet("train_data.pqt")
test_df = pd.read_parquet("test_data.pqt")

In [25]:
train_df

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city,city_type,index_city_code,...,cnt_cred_g_oper_3m,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster,end_cluster
0,0,month_1,0.744845,0.705492,1.287207,0.748101,channel_code_5,city_23,city_type_0,index_city_code_39,...,0.951166,0.568681,0.897565,0.553624,0.774354,0.936506,0.295984,0.967947,"{α, γ}",{other}
1,0,month_2,1.049605,0.831916,2.458609,1.053805,channel_code_5,city_23,city_type_0,index_city_code_39,...,0.948812,0.499716,0.785029,0.551904,0.696576,0.990157,0.298873,0.945969,"{α, γ}",{other}
2,0,month_3,0.692653,0.740253,0.430042,0.695747,channel_code_5,city_23,city_type_0,index_city_code_39,...,0.946458,0.442244,0.877050,0.551044,0.663243,0.810065,0.294829,0.956958,"{α, γ}",{other}
3,1,month_1,-0.081586,-0.091860,-0.114040,-0.080890,channel_code_2,city_14,city_type_0,None,...,0.945281,0.407762,0.369318,0.567093,0.785465,-0.184002,0.253523,0.462452,{other},{other}
4,1,month_2,-0.094962,-0.100504,-0.119302,-0.094307,channel_code_2,city_14,city_type_0,None,...,0.946066,0.430750,0.067275,0.559928,0.696576,-0.183854,0.255545,0.495419,{other},{other}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,199998,month_2,-0.156775,-0.204960,-0.125987,-0.156311,channel_code_9,city_14,city_type_0,None,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{}
599996,199998,month_3,-0.156776,-0.204960,-0.125995,-0.156312,channel_code_9,city_14,city_type_0,None,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},{}
599997,199999,month_1,-0.156712,-0.204913,-0.125831,-0.156248,channel_code_14,city_1876,city_type_0,index_city_code_195,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{}
599998,199999,month_2,-0.156712,-0.204913,-0.125831,-0.156248,channel_code_14,city_1876,city_type_0,index_city_code_195,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{}
599999,199999,month_3,-0.156712,-0.204913,-0.125831,-0.156248,channel_code_14,city_1876,city_type_0,index_city_code_195,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},{}

In [26]:
train_df.head(30)

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city,city_type,index_city_code,...,cnt_cred_g_oper_3m,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster,end_cluster
0,0,month_1,0.744845,0.705492,1.287207,0.748101,channel_code_5,city_23,city_type_0,index_city_code_39,...,0.951166,0.568681,0.897565,0.553624,0.774354,0.936506,0.295984,0.967947,"{α, γ}",{other}
1,0,month_2,1.049605,0.831916,2.458609,1.053805,channel_code_5,city_23,city_type_0,index_city_code_39,...,0.948812,0.499716,0.785029,0.551904,0.696576,0.990157,0.298873,0.945969,"{α, γ}",{other}
2,0,month_3,0.692653,0.740253,0.430042,0.695747,channel_code_5,city_23,city_type_0,index_city_code_39,...,0.946458,0.442244,0.877050,0.551044,0.663243,0.810065,0.294829,0.956958,"{α, γ}",{other}
3,1,month_1,-0.081586,-0.091860,-0.114040,-0.080890,channel_code_2,city_14,city_type_0,None,...,0.945281,0.407762,0.369318,0.567093,0.785465,-0.184002,0.253523,0.462452,{other},{other}
4,1,month_2,-0.094962,-0.100504,-0.119302,-0.094307,channel_code_2,city_14,city_type_0,None,...,0.946066,0.430750,0.067275,0.559928,0.696576,-0.183854,0.255545,0.495419,{other},{other}
5,1,month_3,-0.090605,-0.114275,-0.114119,-0.089937,channel_code_2,city_14,city_type_0,None,...,0.948027,0.488221,0.043221,0.560788,0.707687,-0.167905,0.259011,0.605309,{other},{other}
6,2,month_1,-0.154685,-0.186795,-0.122805,-0.154215,channel_code_12,city_613,city_type_306,None,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.178674,0.252657,0.440474,{α},{α}
7,2,month_2,-0.152784,-0.193686,-0.122805,-0.152308,channel_code_12,city_613,city_type_306,None,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.177854,0.252657,0.440474,{α},{α}
8,2,month_3,-0.148737,-0.187003,-0.112416,-0.148249,channel_code_12,city_613,city_type_306,None,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.176302,0.252368,0.429485,{α},{α}
9,3,month_1,-0.156643,-0.204861,-0.125660,-0.156179,channel_code_14,city_21,city_type_0,index_city_code_46,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},{α}
10,3,month_2,-0.156666,-0.204790,-0.125995,-0.156202,channel_code_14,city_21,city_type_0,index_city_code_46,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},"{α, γ}"
11,3,month_3,-0.156522,-0.204718,-0.125759,-0.156058,channel_code_14,city_21,city_type_0,index_city_code_46,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},"{α, γ}"
12,4,month_1,-0.138847,-0.182486,-0.125630,-0.138328,channel_code_8,city_21,city_type_0,None,...,0.957443,0.672129,-0.078233,0.558209,0.707687,-0.178408,0.252946,0.440474,{α},{α}
13,4,month_2,-0.129233,-0.162965,-0.108713,-0.128684,channel_code_8,city_21,city_type_0,None,...,0.958620,0.683624,-0.078363,0.557779,0.641020,-0.176923,0.253234,0.451463,{α},{α}
14,4,month_3,-0.141798,-0.170262,-0.125672,-0.141289,channel_code_8,city_21,city_type_0,None,...,0.957051,0.637647,-0.078297,0.556919,0.641020,-0.172533,0.253523,0.462452,{α},{α}
15,5,month_1,NaN,NaN,NaN,NaN,None,None,None,None,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{α}
16,5,month_2,NaN,NaN,NaN,NaN,None,None,None,None,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{α}
17,5,month_3,NaN,NaN,NaN,NaN,channel_code_21,None,None,index_city_code_5,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},{α}
18,6,month_1,-0.012978,0.167324,-0.105271,-0.012069,channel_code_5,city_25,city_type_0,index_city_code_30,...,0.944889,0.396267,0.941555,0.567952,0.929909,0.154326,0.252657,0.440474,"{α, γ}","{α, γ}"
19,6,month_2,0.166101,0.166826,0.102481,0.167564,channel_code_5,city_25,city_type_0,index_city_code_30,...,0.944497,0.384773,0.944451,0.570961,0.974354,0.032227,0.252368,0.429485,"{α, γ}","{α, γ}"
20,6,month_3,-0.126878,-0.116844,-0.124882,-0.126322,channel_code_5,city_25,city_type_0,index_city_code_30,...,0.944497,0.384773,0.879821,0.568239,0.952131,-0.033173,0.251790,0.407507,"{α, γ}","{α, γ}"
21,7,month_1,-0.156437,-0.204698,-0.125176,-0.155972,channel_code_31,city_39,city_type_0,index_city_code_11,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.200301,0.251212,0.385529,{α},{α}
22,7,month_2,-0.156426,-0.204698,-0.125119,-0.155961,channel_code_31,city_39,city_type_0,index_city_code_11,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.200301,0.251212,0.385529,{α},{α}
23,7,month_3,-0.156215,-0.204464,-0.125995,-0.155954,channel_code_31,city_39,city_type_0,index_city_code_11,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.200301,0.251212,0.385529,{α},{α}
24,8,month_1,-0.146542,-0.193037,-0.121922,-0.146047,channel_code_8,city_65,city_type_0,index_city_code_56,...,0.944497,0.384773,-0.158619,0.548609,0.518798,-0.163534,0.274032,0.539375,"{α, γ}",{α}
25,8,month_2,-0.143509,-0.187596,-0.125143,-0.143004,channel_code_8,city_65,city_type_0,index_city_code_56,...,0.944497,0.384773,-0.164109,0.547749,0.463243,-0.176061,0.256412,0.484430,"{α, γ}",{α}
26,8,month_3,-0.152684,-0.197020,-0.125995,-0.152208,channel_code_8,city_65,city_type_0,index_city_code_56,...,0.944497,0.384773,-0.164504,0.547462,0.441020,-0.177143,0.253523,0.440474,"{α, γ}",{α}
27,9,month_1,-0.156411,-0.204687,-0.125084,-0.155947,channel_code_4,city_1081,city_type_639,index_city_code_91,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},{α}
28,9,month_2,-0.156411,-0.204687,-0.125084,-0.155947,channel_code_4,city_1081,city_type_639,index_city_code_91,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},{α}
29,9,month_3,-0.156411,-0.204687,-0.125084,-0.155947,channel_code_4,city_1081,city_type_639,index_city_code_91,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},{}

In [27]:

train_df['month_number'] = train_df.groupby('id').cumcount() + 1


train_df

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city,city_type,index_city_code,...,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster,end_cluster,month_number
0,0,month_1,0.744845,0.705492,1.287207,0.748101,channel_code_5,city_23,city_type_0,index_city_code_39,...,0.568681,0.897565,0.553624,0.774354,0.936506,0.295984,0.967947,"{α, γ}",{other},1
1,0,month_2,1.049605,0.831916,2.458609,1.053805,channel_code_5,city_23,city_type_0,index_city_code_39,...,0.499716,0.785029,0.551904,0.696576,0.990157,0.298873,0.945969,"{α, γ}",{other},2
2,0,month_3,0.692653,0.740253,0.430042,0.695747,channel_code_5,city_23,city_type_0,index_city_code_39,...,0.442244,0.877050,0.551044,0.663243,0.810065,0.294829,0.956958,"{α, γ}",{other},3
3,1,month_1,-0.081586,-0.091860,-0.114040,-0.080890,channel_code_2,city_14,city_type_0,None,...,0.407762,0.369318,0.567093,0.785465,-0.184002,0.253523,0.462452,{other},{other},1
4,1,month_2,-0.094962,-0.100504,-0.119302,-0.094307,channel_code_2,city_14,city_type_0,None,...,0.430750,0.067275,0.559928,0.696576,-0.183854,0.255545,0.495419,{other},{other},2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,199998,month_2,-0.156775,-0.204960,-0.125987,-0.156311,channel_code_9,city_14,city_type_0,None,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{},2
599996,199998,month_3,-0.156776,-0.204960,-0.125995,-0.156312,channel_code_9,city_14,city_type_0,None,...,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},{},3
599997,199999,month_1,-0.156712,-0.204913,-0.125831,-0.156248,channel_code_14,city_1876,city_type_0,index_city_code_195,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{},1
599998,199999,month_2,-0.156712,-0.204913,-0.125831,-0.156248,channel_code_14,city_1876,city_type_0,index_city_code_195,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{},2
599999,199999,month_3,-0.156712,-0.204913,-0.125831,-0.156248,channel_code_14,city_1876,city_type_0,index_city_code_195,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},{},3

In [28]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 94 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       600000 non-null  int64
 1   date                     600000 non-null  object
 2   balance_amt_avg          534423 non-null  float64
 3   balance_amt_max          534423 non-null  float64
 4   balance_amt_min          534423 non-null  float64
 5   balance_amt_day_avg      534423 non-null  float64
 6   channel_code             557150 non-null  object
 7   city                     521656 non-null  object
 8   city_type                521656 non-null  object
 9   index_city_code          274776 non-null  object
 10  ogrn_days_end_month      568527 non-null  float64
 11  ogrn_days_end_quarter    568527 non-null  float64
 12  ogrn_month               568527 non-null  object
 13  ogrn_year                568527 non-null  object
 14  ft_registration_date     568640 non-null  float64
 15  max_founderpres          264408 non-null  float64
 16  min_founderpres          264408 non-null  float64
 17  ogrn_exist_months        568527 non-null  float64
 18  okved                    568107 non-null  object
 19  segment                  569849 non-null  object
 20  sum_of_paym_2m           451116 non-null  float64
 21  sum_of_paym_6m           451116 non-null  float64
 22  sum_of_paym_1y           451116 non-null  float64
 23  sum_a_oper_1m            600000 non-null  float64
 24  cnt_a_oper_1m            403819 non-null  float64
 25  sum_b_oper_1m            600000 non-null  float64
 26  cnt_b_oper_1m            403819 non-null  float64
 27  sum_c_oper_1m            600000 non-null  float64
 28  cnt_c_oper_1m            403819 non-null  float64
 29  sum_deb_d_oper_1m        600000 non-null  float64
 30  cnt_deb_d_oper_1m        403819 non-null  float64
 31  sum_cred_d_oper_1m       600000 non-null  float64
 32  cnt_cred_d_oper_1m       403819 non-null  float64
 33  sum_deb_e_oper_1m        600000 non-null  float64
 34  cnt_deb_e_oper_1m        403819 non-null  float64
 35  cnt_days_deb_e_oper_1m   403819 non-null  float64
 36  sum_cred_e_oper_1m       600000 non-null  float64
 37  cnt_cred_e_oper_1m       403819 non-null  float64
 38  cnt_days_cred_e_oper_1m  403819 non-null  float64
 39  sum_deb_f_oper_1m        600000 non-null  float64
 40  cnt_deb_f_oper_1m        403819 non-null  float64
 41  cnt_days_deb_f_oper_1m   403819 non-null  float64
 42  sum_cred_f_oper_1m       600000 non-null  float64
 43  cnt_cred_f_oper_1m       403819 non-null  float64
 44  cnt_days_cred_f_oper_1m  403819 non-null  float64
 45  sum_deb_g_oper_1m        600000 non-null  float64
 46  cnt_deb_g_oper_1m        403819 non-null  float64
 47  cnt_days_deb_g_oper_1m   403819 non-null  float64
 48  sum_cred_g_oper_1m       600000 non-null  float64
 49  cnt_cred_g_oper_1m       403819 non-null  float64
 50  cnt_days_cred_g_oper_1m  403819 non-null  float64
 51  sum_deb_h_oper_1m        600000 non-null  float64
 52  cnt_deb_h_oper_1m        403819 non-null  float64
 53  cnt_days_deb_h_oper_1m   403819 non-null  float64
 54  sum_cred_h_oper_1m       600000 non-null  float64
 55  cnt_cred_h_oper_1m       403819 non-null  float64
 56  cnt_days_cred_h_oper_1m  403819 non-null  float64
 57  sum_a_oper_3m            600000 non-null  float64
 58  cnt_a_oper_3m            434748 non-null  float64
 59  sum_b_oper_3m            600000 non-null  float64
 60  cnt_b_oper_3m            434748 non-null  float64
 61  sum_c_oper_3m            600000 non-null  float64
 62  cnt_c_oper_3m            434748 non-null  float64
 63  sum_deb_d_oper_3m        600000 non-null  float64
 64  cnt_deb_d_oper_3m        434748 non-null  float64
 65  sum_cred_d_oper_3m       600000 non-null  float64
 66  cnt_cred_d_oper_3m       434748 non-null  float64
 67  sum_deb_e_oper_3m        600000 non-null  float64
 68  cnt_deb_e_oper_3m        434748 non-null  float64
 69  cnt_days_deb_e_oper_3m   434748 non-null  float64
 70  sum_cred_e_oper_3m       600000 non-null  float64
 71  cnt_cred_e_oper_3m       434748 non-null  float64
 72  cnt_days_cred_e_oper_3m  434748 non-null  float64
 73  sum_deb_f_oper_3m        600000 non-null  float64
 74  cnt_deb_f_oper_3m        434748 non-null  float64
 75  cnt_days_deb_f_oper_3m   434748 non-null  float64
 76  sum_cred_f_oper_3m       600000 non-null  float64
 77  cnt_cred_f_oper_3m       434748 non-null  float64
 78  cnt_days_cred_f_oper_3m  434748 non-null  float64
 79  sum_deb_g_oper_3m        600000 non-null  float64
 80  cnt_deb_g_oper_3m        434748 non-null  float64
 81  cnt_days_deb_g_oper_3m   434748 non-null  float64
 82  sum_cred_g_oper_3m       600000 non-null  float64
 83  cnt_cred_g_oper_3m       434748 non-null  float64
 84  cnt_days_cred_g_oper_3m  434748 non-null  float64
 85  sum_deb_h_oper_3m        600000 non-null  float64
 86  cnt_deb_h_oper_3m        434748 non-null  float64
 87  cnt_days_deb_h_oper_3m   434748 non-null  float64
 88  sum_cred_h_oper_3m       600000 non-null  float64
 89  cnt_cred_h_oper_3m       434748 non-null  float64
 90  cnt_days_cred_h_oper_3m  434748 non-null  float64
 91  start_cluster            600000 non-null  object
 92  end_cluster              600000 non-null  object
 93  month_number             600000 non-null  int64
dtypes: float64(81), int64(2), object(11)
memory usage: 430.3+ MB

In [29]:
pivot_columns = [col for col in train_df.columns if col not in ['id', 'date', 'month_number']]

df_pivoted = train_df.pivot_table(index='id', columns='month_number', values=pivot_columns, aggfunc='first')

# Теперь, когда мы сформировали сводную таблицу, преобразуем MultiIndex столбцы в единый уровень
df_pivoted.columns = [f'{col[0]}_{col[1]}month' for col in df_pivoted.columns]

# Переименовываем индекс обратно в столбец 'id', если он стал индексом
df_pivoted.reset_index(inplace=True)

df_pivoted.head()

,id,balance_amt_avg_1month,balance_amt_avg_2month,balance_amt_avg_3month,balance_amt_day_avg_1month,balance_amt_day_avg_2month,balance_amt_day_avg_3month,balance_amt_max_1month,balance_amt_max_2month,balance_amt_max_3month,...,sum_deb_h_oper_3m_3month,sum_of_paym_1y_1month,sum_of_paym_1y_2month,sum_of_paym_1y_3month,sum_of_paym_2m_1month,sum_of_paym_2m_2month,sum_of_paym_2m_3month,sum_of_paym_6m_1month,sum_of_paym_6m_2month,sum_of_paym_6m_3month
0,0,0.744845,1.049605,0.692653,0.748101,1.053805,0.695747,0.705492,0.831916,0.740253,...,0.877050,0.511490,0.486425,0.480547,0.942275,0.645704,0.403604,0.536013,0.536378,0.613167
1,1,-0.081586,-0.094962,-0.090605,-0.080890,-0.094307,-0.089937,-0.091860,-0.100504,-0.114275,...,0.043221,0.052041,0.033554,0.039472,0.014051,-0.057593,-0.092059,0.043800,0.035027,0.025233
2,2,-0.154685,-0.152784,-0.148737,-0.154215,-0.152308,-0.148249,-0.186795,-0.193686,-0.187003,...,-0.165588,-0.291924,-0.290712,-0.288318,-0.255837,-0.267913,-0.255946,-0.287121,-0.284955,-0.280676
3,3,-0.156643,-0.156666,-0.156522,-0.156179,-0.156202,-0.156058,-0.204861,-0.204790,-0.204718,...,-0.165588,-0.242793,-0.262878,-0.273303,-0.273969,-0.273969,-0.273969,-0.268832,-0.294398,-0.294447
4,4,-0.138847,-0.129233,-0.141798,-0.138328,-0.128684,-0.141289,-0.182486,-0.162965,-0.170262,...,-0.078297,-0.124641,-0.121939,-0.128903,-0.103807,-0.134192,-0.166740,-0.130025,-0.134049,-0.142831

In [30]:
df_pivoted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Columns: 274 entries, id to sum_of_paym_6m_3month
dtypes: float64(243), int64(1), object(30)
memory usage: 418.1+ MB

In [31]:
cat_cols = [
    "channel_code_2month", "city_2month", "city_type_2month",
    "okved_2month", "segment_2month", "start_cluster_2month",
    "index_city_code_2month", "ogrn_month_2month", "ogrn_year_2month",
    "channel_code_1month", "city_1month", "city_type_1month",
    "okved_1month", "segment_1month", "start_cluster_1month",
    "index_city_code_1month", "ogrn_month_1month", "ogrn_year_1month",
    "channel_code_3month", "city_3month", "city_type_3month",
    "okved_3month", "segment_3month", "start_cluster_3month",
    "index_city_code_3month", "ogrn_month_3month", "ogrn_year_3month",
]

Обозначение категориальных признаков

Создаем выборки для валидации и обучения

In [32]:
X = df_pivoted.drop(["id","end_cluster_3month", "end_cluster_2month", "end_cluster_1month"], axis=1)
y = df_pivoted["end_cluster_3month"]

x_train, x_val, y_train, y_val = train_test_split(X, y,
                                                  test_size=0.2,
                                                  random_state=42)

## Обучение модели

В качестве базовой модели возьмем LGBM обучим на всех признаках

In [33]:
params_cat = {
    "iterations":1000,
    "depth":12,
    #"learning_rate":0.01,
    "eval_metric":'AUC',
    "random_seed":1,
    "bootstrap_type":'Bayesian',
    "bagging_temperature":1,
    "od_type":'Iter',
    "od_wait":50,
    "task_type":'GPU'
}

In [34]:
from sklearn.model_selection import StratifiedKFold, LeavePOut, RepeatedStratifiedKFold
from catboost import  CatBoostClassifier


cat_model = CatBoostClassifier(**params_cat)


# cv = KFold(n_splits=3)
# cv = RepeatedStratifiedKFold(n_splits=8, n_repeats=3, random_state=12)

cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
auc_scores = []  # Список для хранения показателей AUC для каждого разбиения

In [35]:
def weighted_roc_auc(y_true, y_pred, labels, weights_dict):
    unnorm_weights = np.array([weights_dict[label] for label in labels])
    weights = unnorm_weights / unnorm_weights.sum()
    classes_roc_auc = roc_auc_score(y_true, y_pred, labels=labels,
                                    multi_class="ovr", average=None)
    return sum(weights * classes_roc_auc)

In [36]:
cluster_weights = pd.read_excel("cluster_weights.xlsx").set_index("cluster")
weights_dict = cluster_weights["unnorm_weight"].to_dict()

In [37]:
# weights_dict

In [38]:
cat_features = [col for col in X.columns if X[col].dtype.name == 'category' or X[col].dtype.name == 'object']
for col in cat_features:
    X[col] = X[col].astype('category')
    #test_df[col] = test_df[col].astype('category')

In [39]:
y = y.astype('category')
# y = y.cat.add_categories('Missing').fillna('Missing')

In [40]:
cat_features = [col for col in X.columns if X[col].dtype.name == 'category' or X[col].dtype.name == 'object']
for col in cat_features:
    X[col] = X[col].cat.add_categories('Missing').fillna('Missing')
cat_features

['channel_code_1month',
 'channel_code_2month',
 'channel_code_3month',
 'city_1month',
 'city_2month',
 'city_3month',
 'city_type_1month',
 'city_type_2month',
 'city_type_3month',
 'index_city_code_1month',
 'index_city_code_2month',
 'index_city_code_3month',
 'ogrn_month_1month',
 'ogrn_month_2month',
 'ogrn_month_3month',
 'ogrn_year_1month',
 'ogrn_year_2month',
 'ogrn_year_3month',
 'okved_1month',
 'okved_2month',
 'okved_3month',
 'segment_1month',
 'segment_2month',
 'segment_3month',
 'start_cluster_1month',
 'start_cluster_2month',
 'start_cluster_3month']

In [41]:
cat_features = [col for col in X.columns if X[col].dtype.name == 'category' or X[col].dtype.name == 'object']
cat_features

['channel_code_1month',
 'channel_code_2month',
 'channel_code_3month',
 'city_1month',
 'city_2month',
 'city_3month',
 'city_type_1month',
 'city_type_2month',
 'city_type_3month',
 'index_city_code_1month',
 'index_city_code_2month',
 'index_city_code_3month',
 'ogrn_month_1month',
 'ogrn_month_2month',
 'ogrn_month_3month',
 'ogrn_year_1month',
 'ogrn_year_2month',
 'ogrn_year_3month',
 'okved_1month',
 'okved_2month',
 'okved_3month',
 'segment_1month',
 'segment_2month',
 'segment_3month',
 'start_cluster_1month',
 'start_cluster_2month',
 'start_cluster_3month']

In [42]:
X

,balance_amt_avg_1month,balance_amt_avg_2month,balance_amt_avg_3month,balance_amt_day_avg_1month,balance_amt_day_avg_2month,balance_amt_day_avg_3month,balance_amt_max_1month,balance_amt_max_2month,balance_amt_max_3month,balance_amt_min_1month,...,sum_deb_h_oper_3m_3month,sum_of_paym_1y_1month,sum_of_paym_1y_2month,sum_of_paym_1y_3month,sum_of_paym_2m_1month,sum_of_paym_2m_2month,sum_of_paym_2m_3month,sum_of_paym_6m_1month,sum_of_paym_6m_2month,sum_of_paym_6m_3month
0,0.744845,1.049605,0.692653,0.748101,1.053805,0.695747,0.705492,0.831916,0.740253,1.287207,...,0.877050,0.511490,0.486425,0.480547,0.942275,0.645704,0.403604,0.536013,0.536378,0.613167
1,-0.081586,-0.094962,-0.090605,-0.080890,-0.094307,-0.089937,-0.091860,-0.100504,-0.114275,-0.114040,...,0.043221,0.052041,0.033554,0.039472,0.014051,-0.057593,-0.092059,0.043800,0.035027,0.025233
2,-0.154685,-0.152784,-0.148737,-0.154215,-0.152308,-0.148249,-0.186795,-0.193686,-0.187003,-0.122805,...,-0.165588,-0.291924,-0.290712,-0.288318,-0.255837,-0.267913,-0.255946,-0.287121,-0.284955,-0.280676
3,-0.156643,-0.156666,-0.156522,-0.156179,-0.156202,-0.156058,-0.204861,-0.204790,-0.204718,-0.125660,...,-0.165588,-0.242793,-0.262878,-0.273303,-0.273969,-0.273969,-0.273969,-0.268832,-0.294398,-0.294447
4,-0.138847,-0.129233,-0.141798,-0.138328,-0.128684,-0.141289,-0.182486,-0.162965,-0.170262,-0.125630,...,-0.078297,-0.124641,-0.121939,-0.128903,-0.103807,-0.134192,-0.166740,-0.130025,-0.134049,-0.142831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,-0.067129,-0.004851,-0.039281,-0.066388,-0.003917,-0.038454,-0.108082,-0.053838,-0.053694,-0.031401,...,-0.078382,-0.295238,-0.290994,-0.283410,-0.269524,-0.248313,-0.214854,-0.293044,-0.285459,-0.271905
199996,0.543173,0.413435,0.293117,0.545804,0.415664,0.294974,0.382148,0.281704,0.189316,1.484547,...,-0.153030,-0.125855,-0.126250,-0.126344,-0.221403,-0.222278,-0.225526,-0.136274,-0.178142,-0.194693
199997,-0.082159,-0.111169,0.032941,-0.081465,-0.110564,0.033992,-0.028263,-0.041417,0.140726,-0.120011,...,0.680322,1.732060,1.662368,1.694414,0.661477,0.127654,0.751383,1.658004,1.251180,1.126610
199998,-0.156775,-0.156775,-0.156776,-0.156311,-0.156311,-0.156312,-0.204960,-0.204960,-0.204960,-0.125987,...,-0.165588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199999,-0.156712,-0.156712,-0.156712,-0.156248,-0.156248,-0.156248,-0.204913,-0.204913,-0.204913,-0.125831,...,-0.165588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
y_val.info()

<class 'pandas.core.series.Series'>
Index: 40000 entries, 119737 to 6584
Series name: end_cluster_3month
Non-Null Count  Dtype
--------------  -----
40000 non-null  object
dtypes: object(1)
memory usage: 625.0+ KB

In [ ]:
i=0
for train_idx, val_idx in cv.split(X, y):
    x_train, x_val = X.iloc[train_idx], X.iloc[val_idx]
    y_train, y_val = y.iloc[train_idx], y.iloc[val_idx]
    cat_model.fit(
        x_train, y_train,
        eval_set=(x_val, y_val),
        cat_features=cat_features,
        use_best_model=True,
        verbose=True
     )

    y_pred_proba = cat_model.predict_proba(x_val)
    cat_model.save_model(f'my_meth/model_{i}.cbm')
    i+=1
    print('y_val')
    print(y_val)
    print('y_pred_proba')
    print(y_pred_proba)
    print('cat_model.classes_')
    print(cat_model.classes_)
    print('weights_dict')
    print(weights_dict)
    auc_score = weighted_roc_auc(y_val, y_pred_proba, cat_model.classes_, weights_dict)
    auc_scores.append(auc_score)

mean_auc = np.mean(auc_scores)
std_auc = np.std(auc_scores)
print(f"Средний взвешенный ROC AUC: {mean_auc:.3f} ± {std_auc:.3f}")