# Baseline

In [280]:
import numpy as np
import pandas as pd
from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split, cross_validate, StratifiedGroupKFold, KFold

## Загрузка данных

In [281]:
test_df = pd.read_csv("test_df_filled_day_ilnaz.csv")

In [282]:
test_df

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city,city_type,index_city_code,...,sum_cred_g_oper_3m,cnt_cred_g_oper_3m,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster
0,200000,month_4,-0.096224,0.335496,-0.125995,-0.095578,channel_code_12,city_14,city_type_0,NaN,...,0.010952,0.946066,0.407762,-0.153950,0.548895,0.541020,0.031742,0.257278,0.561353,{α}
1,200000,month_5,-0.024255,-0.059806,-0.124295,-0.023381,channel_code_12,city_14,city_type_0,NaN,...,0.006812,0.945281,0.396267,-0.150505,0.549468,0.552131,0.237817,0.264211,0.715199,{α}
2,200000,month_6,0.045988,0.049418,-0.125995,0.047079,channel_code_12,city_14,city_type_0,NaN,...,0.006812,0.945281,0.396267,-0.152800,0.549468,0.541020,0.387566,0.268543,0.836079,{α}
3,200001,month_4,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_76,city_type_0,NaN,...,-0.028584,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α}
4,200001,month_5,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_76,city_type_0,NaN,...,-0.028584,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290115,299998,month_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.028584,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{}
290116,299998,month_6,-0.155350,-0.203711,-0.125995,-0.155980,channel_code_9,city_25,city_type_0,index_city_code_30,...,-0.028584,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α}
290117,299999,month_4,-0.145899,-0.173298,-0.125995,-0.145402,channel_code_9,city_6,city_type_0,index_city_code_34,...,-0.028584,0.944497,0.384773,-0.097640,0.550901,0.574354,-0.101369,0.252657,0.440474,{α}
290118,299999,month_5,-0.136402,-0.163874,-0.121475,-0.135876,channel_code_9,city_6,city_type_0,index_city_code_34,...,-0.028584,0.944497,0.384773,-0.047885,0.555057,0.696576,-0.034860,0.253523,0.473441,{α}
290119,299999,month_6,-0.141660,-0.156818,-0.125894,-0.141149,channel_code_9,city_6,city_type_0,index_city_code_34,...,-0.028584,0.944497,0.384773,-0.028842,0.556919,0.796576,-0.011582,0.254101,0.495419,{α}

In [283]:
city_counts = test_df['city'].value_counts().to_dict()
#city_counts
test_df["city_other"] = test_df["city"].apply(lambda x: x  if city_counts.get(x, 0) > 15  else "other")
test_df.drop("city", axis=1, inplace=True)
test_df.city_other.value_counts()

city_to_index_mapping = test_df.dropna(subset=['city_other', 'index_city_code']).drop_duplicates('index_city_code').set_index('index_city_code')['city_other'].to_dict()


for idx, row in test_df.iterrows():
    if pd.isna(row['city_other']):
        index_city_code = row['index_city_code']

        if index_city_code in city_to_index_mapping:
            test_df.at[idx, 'city_other'] = city_to_index_mapping[index_city_code]

        elif not pd.isna(index_city_code):
            test_df.at[idx, 'city_other'] = index_city_code

test_df["city"] = test_df["city_other"]
test_df.drop("city_other", axis=1, inplace=True)

In [284]:


# city_to_index_mapping = test_df.dropna(subset=['city', 'index_city_code']).drop_duplicates('index_city_code').set_index('index_city_code')['city'].to_dict()
#
#
# for idx, row in test_df.iterrows():
#     if pd.isna(row['city']):
#         index_city_code = row['index_city_code']
#
#         if index_city_code in city_to_index_mapping:
#             test_df.at[idx, 'city'] = city_to_index_mapping[index_city_code]
#
#         elif not pd.isna(index_city_code):
#             test_df.at[idx, 'city'] = index_city_code

In [285]:
test_df.head(30)

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city_type,index_city_code,ogrn_days_end_month,...,cnt_cred_g_oper_3m,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster,city
0,200000,month_4,-0.096224,0.335496,-0.125995,-0.095578,channel_code_12,city_type_0,NaN,-1.533705,...,0.946066,0.407762,-0.153950,0.548895,0.541020,0.031742,0.257278,0.561353,{α},city_14
1,200000,month_5,-0.024255,-0.059806,-0.124295,-0.023381,channel_code_12,city_type_0,NaN,-1.533705,...,0.945281,0.396267,-0.150505,0.549468,0.552131,0.237817,0.264211,0.715199,{α},city_14
2,200000,month_6,0.045988,0.049418,-0.125995,0.047079,channel_code_12,city_type_0,NaN,-1.533705,...,0.945281,0.396267,-0.152800,0.549468,0.541020,0.387566,0.268543,0.836079,{α},city_14
3,200001,month_4,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_type_0,NaN,0.092087,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},city_76
4,200001,month_5,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_type_0,NaN,0.092087,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},city_76
5,200001,month_6,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_type_0,NaN,0.092087,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},city_76
6,200002,month_4,-0.096506,0.185905,-0.125995,-0.095856,channel_code_12,city_type_0,index_city_code_78,-1.069193,...,0.950774,0.545693,0.715525,0.554913,0.718798,0.445811,0.254968,0.495419,{other},city_14
7,200002,month_5,0.572242,1.502779,-0.125995,0.574963,channel_code_12,city_type_0,index_city_code_78,-1.069193,...,0.949989,0.522704,2.442243,0.563940,0.841020,3.313686,0.256701,0.550364,{other},city_14
8,200002,month_6,-0.048015,0.448252,-0.125995,-0.047215,channel_code_12,city_type_0,index_city_code_78,-1.069193,...,0.946850,0.453739,2.614870,0.565087,0.818798,4.449125,0.258723,0.627287,{other},city_14
9,200003,month_4,-0.156623,-0.204813,-0.125665,-0.156159,channel_code_7,city_type_0,NaN,-0.256297,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},city_31
10,200003,month_5,-0.156579,-0.204813,-0.125501,-0.156115,channel_code_7,city_type_0,NaN,-0.256297,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},city_31
11,200003,month_6,-0.156579,-0.204813,-0.125501,-0.156115,channel_code_7,city_type_0,NaN,-0.256297,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},city_31
12,200004,month_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},other
13,200004,month_6,-0.153379,-0.201932,-0.125995,-0.154155,channel_code_7,NaN,NaN,0.672727,...,0.944889,0.396267,-0.165324,0.547032,0.418798,-0.201123,0.250924,0.374540,{α},other
14,200005,month_4,-0.113771,0.098011,-0.125995,-0.113174,channel_code_8,NaN,index_city_code_2,-1.533705,...,0.944497,0.384773,-0.096518,0.550901,0.552131,-0.201123,0.250924,0.374540,{α},other
15,200005,month_5,-0.096582,0.079861,-0.125995,-0.095932,channel_code_8,NaN,index_city_code_2,-1.533705,...,0.944497,0.384773,-0.100659,0.550615,0.541020,-0.201123,0.250924,0.374540,{α},other
16,200005,month_6,0.543302,0.712921,-0.125995,0.545933,channel_code_8,NaN,index_city_code_2,-1.533705,...,0.944497,0.384773,0.245548,0.555773,0.707687,-0.196868,0.251212,0.385529,"{α, δ}",other
17,200006,month_4,-0.154554,-0.203773,-0.124405,-0.154084,channel_code_12,city_type_7557,index_city_code_82,-1.417577,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},city_53
18,200006,month_5,-0.154522,-0.203773,-0.124405,-0.154052,channel_code_12,city_type_7557,index_city_code_82,-1.417577,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},city_53
19,200006,month_6,-0.154442,-0.203773,-0.124206,-0.153972,channel_code_12,city_type_7557,index_city_code_82,-1.417577,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},city_53
20,200007,month_4,-0.125748,-0.180259,-0.064704,-0.125188,channel_code_5,city_type_0,index_city_code_72,-1.417577,...,0.944497,0.384773,-0.162954,0.547319,0.441020,-0.134623,0.251790,0.407507,{α},city_14
21,200007,month_5,-0.117949,-0.136387,-0.056818,-0.117366,channel_code_5,city_type_0,index_city_code_72,-1.417577,...,0.944497,0.384773,-0.162765,0.547319,0.441020,-0.134623,0.251790,0.407507,{α},city_14
22,200007,month_6,-0.123198,-0.177398,-0.056818,-0.122630,channel_code_5,city_type_0,index_city_code_72,-1.417577,...,0.944497,0.384773,-0.162297,0.547319,0.441020,-0.156793,0.251501,0.396518,{α},city_14
23,200008,month_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},other
24,200008,month_6,-0.156516,-0.204687,-0.125866,-0.156262,channel_code_9,NaN,NaN,0.092087,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},other
25,200009,month_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},other
26,200009,month_6,-0.156552,-0.204687,-0.125995,-0.156216,channel_code_8,city_type_640,NaN,-0.720809,...,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},other
27,200010,month_4,-0.155099,-0.202485,-0.125995,-0.154630,channel_code_2,city_type_0,NaN,0.092087,...,0.944497,0.384773,-0.162555,0.547319,0.441020,-0.201123,0.250924,0.374540,"{α, μ}",city_14
28,200010,month_5,-0.146092,-0.184405,-0.125961,-0.145596,channel_code_2,city_type_0,NaN,0.092087,...,0.944497,0.384773,-0.154578,0.547749,0.474354,-0.201123,0.250924,0.374540,"{α, μ}",city_14
29,200010,month_6,-0.148696,-0.186584,-0.125922,-0.148207,channel_code_2,city_type_0,NaN,0.092087,...,0.944497,0.384773,-0.155368,0.547892,0.485465,-0.201123,0.250924,0.374540,"{α, η}",city_14

In [286]:

test_df['month_number'] = test_df.groupby('id').cumcount() + 1


test_df

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city_type,index_city_code,ogrn_days_end_month,...,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster,city,month_number
0,200000,month_4,-0.096224,0.335496,-0.125995,-0.095578,channel_code_12,city_type_0,NaN,-1.533705,...,0.407762,-0.153950,0.548895,0.541020,0.031742,0.257278,0.561353,{α},city_14,1
1,200000,month_5,-0.024255,-0.059806,-0.124295,-0.023381,channel_code_12,city_type_0,NaN,-1.533705,...,0.396267,-0.150505,0.549468,0.552131,0.237817,0.264211,0.715199,{α},city_14,2
2,200000,month_6,0.045988,0.049418,-0.125995,0.047079,channel_code_12,city_type_0,NaN,-1.533705,...,0.396267,-0.152800,0.549468,0.541020,0.387566,0.268543,0.836079,{α},city_14,3
3,200001,month_4,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_type_0,NaN,0.092087,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},city_76,1
4,200001,month_5,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_type_0,NaN,0.092087,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},city_76,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290115,299998,month_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},other,1
290116,299998,month_6,-0.155350,-0.203711,-0.125995,-0.155980,channel_code_9,city_type_0,index_city_code_30,0.672727,...,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},city_25,2
290117,299999,month_4,-0.145899,-0.173298,-0.125995,-0.145402,channel_code_9,city_type_0,index_city_code_34,-1.185321,...,0.384773,-0.097640,0.550901,0.574354,-0.101369,0.252657,0.440474,{α},city_6,1
290118,299999,month_5,-0.136402,-0.163874,-0.121475,-0.135876,channel_code_9,city_type_0,index_city_code_34,-1.185321,...,0.384773,-0.047885,0.555057,0.696576,-0.034860,0.253523,0.473441,{α},city_6,2
290119,299999,month_6,-0.141660,-0.156818,-0.125894,-0.141149,channel_code_9,city_type_0,index_city_code_34,-1.185321,...,0.384773,-0.028842,0.556919,0.796576,-0.011582,0.254101,0.495419,{α},city_6,3

In [287]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290120 entries, 0 to 290119
Data columns (total 93 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       290120 non-null  int64
 1   date                     290120 non-null  object
 2   balance_amt_avg          260637 non-null  float64
 3   balance_amt_max          260637 non-null  float64
 4   balance_amt_min          260637 non-null  float64
 5   balance_amt_day_avg      260637 non-null  float64
 6   channel_code             270092 non-null  object
 7   city_type                229128 non-null  object
 8   index_city_code          133659 non-null  object
 9   ogrn_days_end_month      275842 non-null  float64
 10  ogrn_days_end_quarter    275842 non-null  float64
 11  ogrn_month               275842 non-null  object
 12  ogrn_year                275842 non-null  object
 13  ft_registration_date     275282 non-null  float64
 14  max_founderpres          128928 non-null  float64
 15  min_founderpres          128928 non-null  float64
 16  ogrn_exist_months        275842 non-null  float64
 17  okved                    275641 non-null  object
 18  segment                  276100 non-null  object
 19  sum_of_paym_2m           216659 non-null  float64
 20  sum_of_paym_6m           216659 non-null  float64
 21  sum_of_paym_1y           216659 non-null  float64
 22  sum_a_oper_1m            290120 non-null  float64
 23  cnt_a_oper_1m            194910 non-null  float64
 24  sum_b_oper_1m            290120 non-null  float64
 25  cnt_b_oper_1m            194910 non-null  float64
 26  sum_c_oper_1m            290120 non-null  float64
 27  cnt_c_oper_1m            194910 non-null  float64
 28  sum_deb_d_oper_1m        290120 non-null  float64
 29  cnt_deb_d_oper_1m        194910 non-null  float64
 30  sum_cred_d_oper_1m       290120 non-null  float64
 31  cnt_cred_d_oper_1m       194910 non-null  float64
 32  sum_deb_e_oper_1m        290120 non-null  float64
 33  cnt_deb_e_oper_1m        194910 non-null  float64
 34  cnt_days_deb_e_oper_1m   194910 non-null  float64
 35  sum_cred_e_oper_1m       290120 non-null  float64
 36  cnt_cred_e_oper_1m       194910 non-null  float64
 37  cnt_days_cred_e_oper_1m  194910 non-null  float64
 38  sum_deb_f_oper_1m        290120 non-null  float64
 39  cnt_deb_f_oper_1m        194910 non-null  float64
 40  cnt_days_deb_f_oper_1m   194910 non-null  float64
 41  sum_cred_f_oper_1m       290120 non-null  float64
 42  cnt_cred_f_oper_1m       194910 non-null  float64
 43  cnt_days_cred_f_oper_1m  194910 non-null  float64
 44  sum_deb_g_oper_1m        290120 non-null  float64
 45  cnt_deb_g_oper_1m        194910 non-null  float64
 46  cnt_days_deb_g_oper_1m   194910 non-null  float64
 47  sum_cred_g_oper_1m       290120 non-null  float64
 48  cnt_cred_g_oper_1m       194910 non-null  float64
 49  cnt_days_cred_g_oper_1m  194910 non-null  float64
 50  sum_deb_h_oper_1m        290120 non-null  float64
 51  cnt_deb_h_oper_1m        194910 non-null  float64
 52  cnt_days_deb_h_oper_1m   194910 non-null  float64
 53  sum_cred_h_oper_1m       290120 non-null  float64
 54  cnt_cred_h_oper_1m       194910 non-null  float64
 55  cnt_days_cred_h_oper_1m  194910 non-null  float64
 56  sum_a_oper_3m            290120 non-null  float64
 57  cnt_a_oper_3m            210553 non-null  float64
 58  sum_b_oper_3m            290120 non-null  float64
 59  cnt_b_oper_3m            210553 non-null  float64
 60  sum_c_oper_3m            290120 non-null  float64
 61  cnt_c_oper_3m            210553 non-null  float64
 62  sum_deb_d_oper_3m        290120 non-null  float64
 63  cnt_deb_d_oper_3m        210553 non-null  float64
 64  sum_cred_d_oper_3m       290120 non-null  float64
 65  cnt_cred_d_oper_3m       210553 non-null  float64
 66  sum_deb_e_oper_3m        290120 non-null  float64
 67  cnt_deb_e_oper_3m        210553 non-null  float64
 68  cnt_days_deb_e_oper_3m   210553 non-null  float64
 69  sum_cred_e_oper_3m       290120 non-null  float64
 70  cnt_cred_e_oper_3m       210553 non-null  float64
 71  cnt_days_cred_e_oper_3m  210553 non-null  float64
 72  sum_deb_f_oper_3m        290120 non-null  float64
 73  cnt_deb_f_oper_3m        210553 non-null  float64
 74  cnt_days_deb_f_oper_3m   210553 non-null  float64
 75  sum_cred_f_oper_3m       290120 non-null  float64
 76  cnt_cred_f_oper_3m       210553 non-null  float64
 77  cnt_days_cred_f_oper_3m  210553 non-null  float64
 78  sum_deb_g_oper_3m        290120 non-null  float64
 79  cnt_deb_g_oper_3m        210553 non-null  float64
 80  cnt_days_deb_g_oper_3m   210553 non-null  float64
 81  sum_cred_g_oper_3m       290120 non-null  float64
 82  cnt_cred_g_oper_3m       210553 non-null  float64
 83  cnt_days_cred_g_oper_3m  210553 non-null  float64
 84  sum_deb_h_oper_3m        290120 non-null  float64
 85  cnt_deb_h_oper_3m        210553 non-null  float64
 86  cnt_days_deb_h_oper_3m   210553 non-null  float64
 87  sum_cred_h_oper_3m       290120 non-null  float64
 88  cnt_cred_h_oper_3m       210553 non-null  float64
 89  cnt_days_cred_h_oper_3m  210553 non-null  float64
 90  start_cluster            290120 non-null  object
 91  city                     290120 non-null  object
 92  month_number             290120 non-null  int64
dtypes: float64(81), int64(2), object(10)
memory usage: 205.9+ MB

In [288]:
pivot_columns = [col for col in test_df.columns if col not in ['id', 'date', 'month_number']]

df_pivoted = test_df.pivot_table(index='id', columns='month_number', values=pivot_columns, aggfunc='first')

# Теперь, когда мы сформировали сводную таблицу, преобразуем MultiIndex столбцы в единый уровень
df_pivoted.columns = [f'{col[0]}_{col[1]}month' for col in df_pivoted.columns]

# Переименовываем индекс обратно в столбец 'id', если он стал индексом
df_pivoted.reset_index(inplace=True)

df_pivoted.head()

,id,balance_amt_avg_1month,balance_amt_avg_2month,balance_amt_avg_3month,balance_amt_day_avg_1month,balance_amt_day_avg_2month,balance_amt_day_avg_3month,balance_amt_max_1month,balance_amt_max_2month,balance_amt_max_3month,...,sum_deb_h_oper_3m_3month,sum_of_paym_1y_1month,sum_of_paym_1y_2month,sum_of_paym_1y_3month,sum_of_paym_2m_1month,sum_of_paym_2m_2month,sum_of_paym_2m_3month,sum_of_paym_6m_1month,sum_of_paym_6m_2month,sum_of_paym_6m_3month
0,200000,-0.096224,-0.024255,0.045988,-0.095578,-0.023381,0.047079,0.335496,-0.059806,0.049418,...,-0.152800,0.676573,0.688449,0.671862,0.416833,0.433195,0.223961,0.332409,0.284317,0.285376
1,200001,-0.156722,-0.156722,-0.156722,-0.156258,-0.156258,-0.156258,-0.204920,-0.204920,-0.204920,...,-0.165588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200002,-0.096506,0.572242,-0.048015,-0.095856,0.574963,-0.047215,0.185905,1.502779,0.448252,...,2.614870,0.365591,0.970531,1.211625,1.303965,3.870911,4.142519,0.550373,1.620822,1.969559
3,200003,-0.156623,-0.156579,-0.156579,-0.156159,-0.156115,-0.156115,-0.204813,-0.204813,-0.204813,...,-0.165588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200004,NaN,-0.153379,NaN,NaN,-0.154155,NaN,NaN,-0.201932,NaN,...,NaN,NaN,-0.296092,NaN,NaN,-0.273794,NaN,NaN,-0.294571,NaN

In [289]:
df_pivoted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 271 entries, id to sum_of_paym_6m_3month
dtypes: float64(243), int64(1), object(27)
memory usage: 206.8+ MB

In [290]:
X = df_pivoted.drop([
"cnt_a_oper_1m_1month", "cnt_a_oper_1m_2month", "cnt_a_oper_1m_3month",
"cnt_b_oper_1m_1month", "cnt_b_oper_1m_2month", "cnt_b_oper_1m_3month",
"cnt_c_oper_1m_1month", "cnt_c_oper_1m_2month", "cnt_c_oper_1m_3month",
"cnt_deb_d_oper_1m_1month", "cnt_deb_d_oper_1m_2month", "cnt_deb_d_oper_1m_3month",
"cnt_cred_d_oper_1m_1month", "cnt_cred_d_oper_1m_2month", "cnt_cred_d_oper_1m_3month",
"cnt_deb_e_oper_1m_1month", "cnt_deb_e_oper_1m_2month", "cnt_deb_e_oper_1m_3month",
"cnt_cred_e_oper_1m_1month", "cnt_cred_e_oper_1m_2month", "cnt_cred_e_oper_1m_3month",
"cnt_deb_f_oper_1m_1month", "cnt_deb_f_oper_1m_2month", "cnt_deb_f_oper_1m_3month",
"cnt_cred_f_oper_1m_1month", "cnt_cred_f_oper_1m_2month", "cnt_cred_f_oper_1m_3month",
"cnt_deb_g_oper_1m_1month", "cnt_deb_g_oper_1m_2month", "cnt_deb_g_oper_1m_3month",
"cnt_cred_g_oper_1m_1month", "cnt_cred_g_oper_1m_2month", "cnt_cred_g_oper_1m_3month",
"cnt_deb_h_oper_1m_1month", "cnt_deb_h_oper_1m_2month", "cnt_deb_h_oper_1m_3month",
"cnt_cred_h_oper_1m_1month", "cnt_cred_h_oper_1m_2month", "cnt_cred_h_oper_1m_3month",
"cnt_a_oper_3m_1month", "cnt_a_oper_3m_2month", "cnt_a_oper_3m_3month",
"cnt_b_oper_3m_1month", "cnt_b_oper_3m_2month", "cnt_b_oper_3m_3month",
"cnt_c_oper_3m_1month", "cnt_c_oper_3m_2month", "cnt_c_oper_3m_3month",
"cnt_deb_d_oper_3m_1month", "cnt_deb_d_oper_3m_2month", "cnt_deb_d_oper_3m_3month",
"cnt_cred_d_oper_3m_1month", "cnt_cred_d_oper_3m_2month", "cnt_cred_d_oper_3m_3month",
"cnt_deb_e_oper_3m_1month", "cnt_deb_e_oper_3m_2month", "cnt_deb_e_oper_3m_3month",
"cnt_cred_e_oper_3m_1month", "cnt_cred_e_oper_3m_2month", "cnt_cred_e_oper_3m_3month",
"cnt_deb_f_oper_3m_1month", "cnt_deb_f_oper_3m_2month", "cnt_deb_f_oper_3m_3month",
"cnt_cred_f_oper_3m_1month", "cnt_cred_f_oper_3m_2month", "cnt_cred_f_oper_3m_3month",
"cnt_deb_g_oper_3m_1month", "cnt_deb_g_oper_3m_2month", "cnt_deb_g_oper_3m_3month",
"cnt_cred_g_oper_3m_1month", "cnt_cred_g_oper_3m_2month", "cnt_cred_g_oper_3m_3month",
"cnt_deb_h_oper_3m_1month", "cnt_deb_h_oper_3m_2month", "cnt_deb_h_oper_3m_3month",
"cnt_cred_h_oper_3m_1month", "cnt_cred_h_oper_3m_2month", "cnt_cred_h_oper_3m_3month",

"city_type_1month",
"city_type_2month",
"city_type_3month",
"index_city_code_1month",
"index_city_code_2month",
"index_city_code_3month",

    "start_cluster_3month","id"], axis=1)

In [291]:
X

,balance_amt_avg_1month,balance_amt_avg_2month,balance_amt_avg_3month,balance_amt_day_avg_1month,balance_amt_day_avg_2month,balance_amt_day_avg_3month,balance_amt_max_1month,balance_amt_max_2month,balance_amt_max_3month,balance_amt_min_1month,...,sum_deb_h_oper_3m_3month,sum_of_paym_1y_1month,sum_of_paym_1y_2month,sum_of_paym_1y_3month,sum_of_paym_2m_1month,sum_of_paym_2m_2month,sum_of_paym_2m_3month,sum_of_paym_6m_1month,sum_of_paym_6m_2month,sum_of_paym_6m_3month
0,-0.096224,-0.024255,0.045988,-0.095578,-0.023381,0.047079,0.335496,-0.059806,0.049418,-0.125995,...,-0.152800,0.676573,0.688449,0.671862,0.416833,0.433195,0.223961,0.332409,0.284317,0.285376
1,-0.156722,-0.156722,-0.156722,-0.156258,-0.156258,-0.156258,-0.204920,-0.204920,-0.204920,-0.125856,...,-0.165588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-0.096506,0.572242,-0.048015,-0.095856,0.574963,-0.047215,0.185905,1.502779,0.448252,-0.125995,...,2.614870,0.365591,0.970531,1.211625,1.303965,3.870911,4.142519,0.550373,1.620822,1.969559
3,-0.156623,-0.156579,-0.156579,-0.156159,-0.156115,-0.156115,-0.204813,-0.204813,-0.204813,-0.125665,...,-0.165588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,-0.153379,NaN,NaN,-0.154155,NaN,NaN,-0.201932,NaN,NaN,...,NaN,NaN,-0.296092,NaN,NaN,-0.273794,NaN,NaN,-0.294571,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,-0.153707,-0.153707,-0.153707,-0.153247,-0.153234,-0.153234,-0.202806,-0.202806,-0.202806,-0.125498,...,-0.165588,-0.296115,-0.296115,-0.296115,-0.273969,-0.273969,-0.273969,-0.294633,-0.294633,-0.294633
99996,-0.156741,-0.156064,-0.154929,-0.156277,-0.155598,-0.154459,-0.204912,-0.203645,-0.197878,-0.125995,...,-0.155776,-0.289371,-0.289810,-0.287516,-0.273496,-0.272045,-0.259945,-0.284472,-0.283784,-0.284207
99997,-0.125643,-0.121206,-0.105294,-0.125084,-0.120632,-0.104671,-0.098937,-0.148644,-0.141429,-0.124644,...,0.087901,-0.137811,-0.111877,-0.084739,-0.070691,-0.041622,-0.008728,-0.098975,-0.082558,-0.068838
99998,NaN,-0.155350,NaN,NaN,-0.155980,NaN,NaN,-0.203711,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,-0.145899,-0.136402,-0.141660,-0.145402,-0.135876,-0.141149,-0.173298,-0.163874,-0.156818,-0.125995,...,-0.028842,0.349247,0.235825,0.031807,-0.171045,-0.093962,-0.183628,-0.202622,-0.212484,-0.225364

## Обучение модели

В качестве базовой модели возьмем LGBM обучим на всех признаках

In [292]:
from sklearn.model_selection import StratifiedKFold, LeavePOut, RepeatedStratifiedKFold
from catboost import  CatBoostClassifier


cat_model = CatBoostClassifier()
model = cat_model.load_model(f'my_meth6_d6_slow\model_12.cbm')

In [293]:
cluster_weights = pd.read_excel("cluster_weights.xlsx").set_index("cluster")
weights_dict = cluster_weights["unnorm_weight"].to_dict()
# weights_dict
cat_features = [col for col in X.columns if X[col].dtype.name == 'category' or X[col].dtype.name == 'object']
for col in cat_features:
    X[col] = X[col].astype('category')
    #test_df[col] = test_df[col].astype('category')


cat_features = [col for col in X.columns if X[col].dtype.name == 'category' or X[col].dtype.name == 'object']
for col in cat_features:
    X[col] = X[col].cat.add_categories('Missing').fillna('Missing')
cat_features

cat_features = [col for col in X.columns if X[col].dtype.name == 'category' or X[col].dtype.name == 'object']
cat_features

['channel_code_1month',
 'channel_code_2month',
 'channel_code_3month',
 'city_1month',
 'city_2month',
 'city_3month',
 'ogrn_month_1month',
 'ogrn_month_2month',
 'ogrn_month_3month',
 'ogrn_year_1month',
 'ogrn_year_2month',
 'ogrn_year_3month',
 'okved_1month',
 'okved_2month',
 'okved_3month',
 'segment_1month',
 'segment_2month',
 'segment_3month',
 'start_cluster_1month',
 'start_cluster_2month']

In [294]:
ppredictions = model.predict_proba(X)

In [295]:
# ppredictions = ppredictions.T

In [296]:
sample_submission_df = pd.read_csv("sample_submission.csv")

In [297]:
ppredictions

array([[1.84399202e-02, 3.13123204e-02, 1.32034666e-02, ...,
        1.52018979e-03, 8.60982642e-01, 7.25861306e-06],
       [7.40368390e-03, 5.62184621e-01, 3.84422335e-04, ...,
        2.67351779e-04, 4.16045290e-01, 2.04394888e-05],
       [5.78845714e-01, 3.33200500e-03, 4.13205516e-03, ...,
        7.13523304e-02, 1.23364152e-01, 1.12933191e-05],
       ...,
       [4.21104002e-02, 2.90238509e-02, 2.79025863e-02, ...,
        2.30264008e-02, 7.41107300e-01, 5.64583395e-06],
       [8.34621930e-02, 2.97295078e-01, 2.97215295e-02, ...,
        2.40464690e-03, 4.23651071e-01, 8.02864605e-04],
       [3.48011365e-02, 1.03159330e-01, 1.34235415e-02, ...,
        6.36378737e-03, 7.33523988e-01, 7.67489453e-05]])

In [298]:
test_pred_proba_df = pd.DataFrame(ppredictions, columns=model.classes_)
sorted_classes = sorted(test_pred_proba_df.columns.to_list())
test_pred_proba_df = test_pred_proba_df[sorted_classes]
test_pred_proba_df.shape

(100000, 17)

In [299]:
test_pred_proba_df.head(3)

,{other},{},"{α, β}","{α, γ}","{α, δ}","{α, ε, η}","{α, ε, θ}","{α, ε, ψ}","{α, ε}","{α, η}","{α, θ}","{α, λ}","{α, μ}","{α, π}","{α, ψ}",{α},{λ}
0,0.018440,0.031312,0.013203,0.023858,0.009223,0.000369,0.005917,0.000390,0.013434,0.005368,0.014335,0.000483,0.001151,0.000007,0.001520,0.860983,0.000007
1,0.007404,0.562185,0.000384,0.002696,0.000564,0.000141,0.000294,0.000016,0.001546,0.005867,0.001293,0.000170,0.001105,0.000002,0.000267,0.416045,0.000020
2,0.578846,0.003332,0.004132,0.108373,0.012536,0.001766,0.007453,0.010951,0.048117,0.010137,0.009197,0.009122,0.001301,0.000008,0.071352,0.123364,0.000011

In [300]:

sample_submission_df[sorted_classes] = test_pred_proba_df
sample_submission_df.to_csv("submissions/meth6_d6/Tima_meth6_12_5_co15.csv", index=False)