# Baseline

In [219]:
import numpy as np
import pandas as pd
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split, cross_validate, StratifiedGroupKFold, KFold

## Загрузка данных

In [220]:
train_df = pd.read_parquet("train_data.pqt")
test_df = pd.read_parquet("test_data.pqt")

In [221]:

missing_city_when_city_type = train_df[train_df['city_type'].notna() & train_df['city'].isna()]
missing_city_type_when_city = train_df[train_df['city'].notna() & train_df['city_type'].isna()]

missing_city_when_city_type2 = train_df[train_df['index_city_code'].notna() & train_df['city'].isna()]
missing_city_type_when_city2 = train_df[train_df['city'].notna() & train_df['index_city_code'].isna()]


print(f"Количество пропусков в 'city', когда 'city_type' имеет данные: {missing_city_when_city_type.shape[0]}")
print(f"Количество пропусков в 'city_type', когда 'city' имеет данные: {missing_city_type_when_city.shape[0]}")

print(f"Количество пропусков в 'city', когда 'index_city_code' имеет данные: {missing_city_when_city_type2.shape[0]}")
print(f"Количество пропусков в 'index_city_code', когда 'city' имеет данные: {missing_city_type_when_city2.shape[0]}")

Количество пропусков в 'city', когда 'city_type' имеет данные: 0
Количество пропусков в 'city_type', когда 'city' имеет данные: 0
Количество пропусков в 'city', когда 'index_city_code' имеет данные: 32836
Количество пропусков в 'index_city_code', когда 'city' имеет данные: 279716

In [222]:
# # Заполняем пропущенные значения в 'city' значениями из 'index_city_code', если 'city' пустой
# train_df.loc[train_df['city'].isna(), 'city'] = train_df['index_city_code']

In [223]:
# missing_city_when_city_type2 = train_df[train_df['index_city_code'].notna() & train_df['city'].isna()]
# missing_city_type_when_city2 = train_df[train_df['city'].notna() & train_df['index_city_code'].isna()]
#
#
# print(f"Количество пропусков в 'city', когда 'index_city_code' имеет данные: {missing_city_when_city_type2.shape[0]}")
# print(f"Количество пропусков в 'index_city_code', когда 'city' имеет данные: {missing_city_type_when_city2.shape[0]}")

In [224]:
city_counts = train_df['city'].value_counts().to_dict()
#city_counts
train_df["city_other"] = train_df["city"].apply(lambda x: x  if city_counts.get(x, 0) > 10  else "other")
train_df.drop("city", axis=1, inplace=True)
train_df.city_other.value_counts()

city_to_index_mapping = train_df.dropna(subset=['city_other', 'index_city_code']).drop_duplicates('index_city_code').set_index('index_city_code')['city_other'].to_dict()


for idx, row in train_df.iterrows():
    if pd.isna(row['city_other']):
        index_city_code = row['index_city_code']

        if index_city_code in city_to_index_mapping:
            train_df.at[idx, 'city_other'] = city_to_index_mapping[index_city_code]

        elif not pd.isna(index_city_code):
            train_df.at[idx, 'city_other'] = index_city_code

train_df["city"] = train_df["city_other"]
train_df.drop("city_other", axis=1, inplace=True)

In [225]:
train_df

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city_type,index_city_code,ogrn_days_end_month,...,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster,end_cluster,city
0,0,month_1,0.744845,0.705492,1.287207,0.748101,channel_code_5,city_type_0,index_city_code_39,-0.488553,...,0.568681,0.897565,0.553624,0.774354,0.936506,0.295984,0.967947,"{α, γ}",{other},city_23
1,0,month_2,1.049605,0.831916,2.458609,1.053805,channel_code_5,city_type_0,index_city_code_39,-0.488553,...,0.499716,0.785029,0.551904,0.696576,0.990157,0.298873,0.945969,"{α, γ}",{other},city_23
2,0,month_3,0.692653,0.740253,0.430042,0.695747,channel_code_5,city_type_0,index_city_code_39,-0.488553,...,0.442244,0.877050,0.551044,0.663243,0.810065,0.294829,0.956958,"{α, γ}",{other},city_23
3,1,month_1,-0.081586,-0.091860,-0.114040,-0.080890,channel_code_2,city_type_0,None,0.324343,...,0.407762,0.369318,0.567093,0.785465,-0.184002,0.253523,0.462452,{other},{other},city_14
4,1,month_2,-0.094962,-0.100504,-0.119302,-0.094307,channel_code_2,city_type_0,None,0.324343,...,0.430750,0.067275,0.559928,0.696576,-0.183854,0.255545,0.495419,{other},{other},city_14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,199998,month_2,-0.156775,-0.204960,-0.125987,-0.156311,channel_code_9,city_type_0,None,0.324343,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{},city_14
599996,199998,month_3,-0.156776,-0.204960,-0.125995,-0.156312,channel_code_9,city_type_0,None,0.324343,...,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},{},city_14
599997,199999,month_1,-0.156712,-0.204913,-0.125831,-0.156248,channel_code_14,city_type_0,index_city_code_195,1.717879,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{},city_1876
599998,199999,month_2,-0.156712,-0.204913,-0.125831,-0.156248,channel_code_14,city_type_0,index_city_code_195,1.717879,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{},city_1876
599999,199999,month_3,-0.156712,-0.204913,-0.125831,-0.156248,channel_code_14,city_type_0,index_city_code_195,1.717879,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},{},city_1876

In [226]:
train_df.head(30)

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city_type,index_city_code,ogrn_days_end_month,...,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster,end_cluster,city
0,0,month_1,0.744845,0.705492,1.287207,0.748101,channel_code_5,city_type_0,index_city_code_39,-0.488553,...,0.568681,0.897565,0.553624,0.774354,0.936506,0.295984,0.967947,"{α, γ}",{other},city_23
1,0,month_2,1.049605,0.831916,2.458609,1.053805,channel_code_5,city_type_0,index_city_code_39,-0.488553,...,0.499716,0.785029,0.551904,0.696576,0.990157,0.298873,0.945969,"{α, γ}",{other},city_23
2,0,month_3,0.692653,0.740253,0.430042,0.695747,channel_code_5,city_type_0,index_city_code_39,-0.488553,...,0.442244,0.877050,0.551044,0.663243,0.810065,0.294829,0.956958,"{α, γ}",{other},city_23
3,1,month_1,-0.081586,-0.091860,-0.114040,-0.080890,channel_code_2,city_type_0,None,0.324343,...,0.407762,0.369318,0.567093,0.785465,-0.184002,0.253523,0.462452,{other},{other},city_14
4,1,month_2,-0.094962,-0.100504,-0.119302,-0.094307,channel_code_2,city_type_0,None,0.324343,...,0.430750,0.067275,0.559928,0.696576,-0.183854,0.255545,0.495419,{other},{other},city_14
5,1,month_3,-0.090605,-0.114275,-0.114119,-0.089937,channel_code_2,city_type_0,None,0.324343,...,0.488221,0.043221,0.560788,0.707687,-0.167905,0.259011,0.605309,{other},{other},city_14
6,2,month_1,-0.154685,-0.186795,-0.122805,-0.154215,channel_code_12,city_type_306,None,-0.256297,...,0.384773,-0.165588,0.546889,0.407687,-0.178674,0.252657,0.440474,{α},{α},city_613
7,2,month_2,-0.152784,-0.193686,-0.122805,-0.152308,channel_code_12,city_type_306,None,-0.256297,...,0.384773,-0.165588,0.546889,0.407687,-0.177854,0.252657,0.440474,{α},{α},city_613
8,2,month_3,-0.148737,-0.187003,-0.112416,-0.148249,channel_code_12,city_type_306,None,-0.256297,...,0.384773,-0.165588,0.546889,0.407687,-0.176302,0.252368,0.429485,{α},{α},city_613
9,3,month_1,-0.156643,-0.204861,-0.125660,-0.156179,channel_code_14,city_type_0,index_city_code_46,-1.185321,...,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},{α},city_21
10,3,month_2,-0.156666,-0.204790,-0.125995,-0.156202,channel_code_14,city_type_0,index_city_code_46,-1.185321,...,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},"{α, γ}",city_21
11,3,month_3,-0.156522,-0.204718,-0.125759,-0.156058,channel_code_14,city_type_0,index_city_code_46,-1.185321,...,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},"{α, γ}",city_21
12,4,month_1,-0.138847,-0.182486,-0.125630,-0.138328,channel_code_8,city_type_0,None,-1.417577,...,0.672129,-0.078233,0.558209,0.707687,-0.178408,0.252946,0.440474,{α},{α},city_21
13,4,month_2,-0.129233,-0.162965,-0.108713,-0.128684,channel_code_8,city_type_0,None,-1.417577,...,0.683624,-0.078363,0.557779,0.641020,-0.176923,0.253234,0.451463,{α},{α},city_21
14,4,month_3,-0.141798,-0.170262,-0.125672,-0.141289,channel_code_8,city_type_0,None,-1.417577,...,0.637647,-0.078297,0.556919,0.641020,-0.172533,0.253523,0.462452,{α},{α},city_21
15,5,month_1,NaN,NaN,NaN,NaN,None,None,None,NaN,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{α},other
16,5,month_2,NaN,NaN,NaN,NaN,None,None,None,NaN,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{α},other
17,5,month_3,NaN,NaN,NaN,NaN,channel_code_21,None,index_city_code_5,0.556599,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},{α},other
18,6,month_1,-0.012978,0.167324,-0.105271,-0.012069,channel_code_5,city_type_0,index_city_code_30,-0.372425,...,0.396267,0.941555,0.567952,0.929909,0.154326,0.252657,0.440474,"{α, γ}","{α, γ}",city_25
19,6,month_2,0.166101,0.166826,0.102481,0.167564,channel_code_5,city_type_0,index_city_code_30,-0.372425,...,0.384773,0.944451,0.570961,0.974354,0.032227,0.252368,0.429485,"{α, γ}","{α, γ}",city_25
20,6,month_3,-0.126878,-0.116844,-0.124882,-0.126322,channel_code_5,city_type_0,index_city_code_30,-0.372425,...,0.384773,0.879821,0.568239,0.952131,-0.033173,0.251790,0.407507,"{α, γ}","{α, γ}",city_25
21,7,month_1,-0.156437,-0.204698,-0.125176,-0.155972,channel_code_31,city_type_0,index_city_code_11,1.253367,...,0.384773,-0.165588,0.546889,0.407687,-0.200301,0.251212,0.385529,{α},{α},city_39
22,7,month_2,-0.156426,-0.204698,-0.125119,-0.155961,channel_code_31,city_type_0,index_city_code_11,1.253367,...,0.384773,-0.165588,0.546889,0.407687,-0.200301,0.251212,0.385529,{α},{α},city_39
23,7,month_3,-0.156215,-0.204464,-0.125995,-0.155954,channel_code_31,city_type_0,index_city_code_11,1.253367,...,0.384773,-0.165588,0.546889,0.407687,-0.200301,0.251212,0.385529,{α},{α},city_39
24,8,month_1,-0.146542,-0.193037,-0.121922,-0.146047,channel_code_8,city_type_0,index_city_code_56,0.672727,...,0.384773,-0.158619,0.548609,0.518798,-0.163534,0.274032,0.539375,"{α, γ}",{α},city_65
25,8,month_2,-0.143509,-0.187596,-0.125143,-0.143004,channel_code_8,city_type_0,index_city_code_56,0.672727,...,0.384773,-0.164109,0.547749,0.463243,-0.176061,0.256412,0.484430,"{α, γ}",{α},city_65
26,8,month_3,-0.152684,-0.197020,-0.125995,-0.152208,channel_code_8,city_type_0,index_city_code_56,0.672727,...,0.384773,-0.164504,0.547462,0.441020,-0.177143,0.253523,0.440474,"{α, γ}",{α},city_65
27,9,month_1,-0.156411,-0.204687,-0.125084,-0.155947,channel_code_4,city_type_639,index_city_code_91,1.253367,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},{α},city_1081
28,9,month_2,-0.156411,-0.204687,-0.125084,-0.155947,channel_code_4,city_type_639,index_city_code_91,1.253367,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},{α},city_1081
29,9,month_3,-0.156411,-0.204687,-0.125084,-0.155947,channel_code_4,city_type_639,index_city_code_91,1.253367,...,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},{},city_1081

In [227]:

train_df['month_number'] = train_df.groupby('id').cumcount() + 1


train_df

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city_type,index_city_code,ogrn_days_end_month,...,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster,end_cluster,city,month_number
0,0,month_1,0.744845,0.705492,1.287207,0.748101,channel_code_5,city_type_0,index_city_code_39,-0.488553,...,0.897565,0.553624,0.774354,0.936506,0.295984,0.967947,"{α, γ}",{other},city_23,1
1,0,month_2,1.049605,0.831916,2.458609,1.053805,channel_code_5,city_type_0,index_city_code_39,-0.488553,...,0.785029,0.551904,0.696576,0.990157,0.298873,0.945969,"{α, γ}",{other},city_23,2
2,0,month_3,0.692653,0.740253,0.430042,0.695747,channel_code_5,city_type_0,index_city_code_39,-0.488553,...,0.877050,0.551044,0.663243,0.810065,0.294829,0.956958,"{α, γ}",{other},city_23,3
3,1,month_1,-0.081586,-0.091860,-0.114040,-0.080890,channel_code_2,city_type_0,None,0.324343,...,0.369318,0.567093,0.785465,-0.184002,0.253523,0.462452,{other},{other},city_14,1
4,1,month_2,-0.094962,-0.100504,-0.119302,-0.094307,channel_code_2,city_type_0,None,0.324343,...,0.067275,0.559928,0.696576,-0.183854,0.255545,0.495419,{other},{other},city_14,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,199998,month_2,-0.156775,-0.204960,-0.125987,-0.156311,channel_code_9,city_type_0,None,0.324343,...,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{},city_14,2
599996,199998,month_3,-0.156776,-0.204960,-0.125995,-0.156312,channel_code_9,city_type_0,None,0.324343,...,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,{α},{},city_14,3
599997,199999,month_1,-0.156712,-0.204913,-0.125831,-0.156248,channel_code_14,city_type_0,index_city_code_195,1.717879,...,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{},city_1876,1
599998,199999,month_2,-0.156712,-0.204913,-0.125831,-0.156248,channel_code_14,city_type_0,index_city_code_195,1.717879,...,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{},{},city_1876,2
599999,199999,month_3,-0.156712,-0.204913,-0.125831,-0.156248,channel_code_14,city_type_0,index_city_code_195,1.717879,...,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α},{},city_1876,3

In [228]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 94 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       600000 non-null  int64
 1   date                     600000 non-null  object
 2   balance_amt_avg          534423 non-null  float64
 3   balance_amt_max          534423 non-null  float64
 4   balance_amt_min          534423 non-null  float64
 5   balance_amt_day_avg      534423 non-null  float64
 6   channel_code             557150 non-null  object
 7   city_type                521656 non-null  object
 8   index_city_code          274776 non-null  object
 9   ogrn_days_end_month      568527 non-null  float64
 10  ogrn_days_end_quarter    568527 non-null  float64
 11  ogrn_month               568527 non-null  object
 12  ogrn_year                568527 non-null  object
 13  ft_registration_date     568640 non-null  float64
 14  max_founderpres          264408 non-null  float64
 15  min_founderpres          264408 non-null  float64
 16  ogrn_exist_months        568527 non-null  float64
 17  okved                    568107 non-null  object
 18  segment                  569849 non-null  object
 19  sum_of_paym_2m           451116 non-null  float64
 20  sum_of_paym_6m           451116 non-null  float64
 21  sum_of_paym_1y           451116 non-null  float64
 22  sum_a_oper_1m            600000 non-null  float64
 23  cnt_a_oper_1m            403819 non-null  float64
 24  sum_b_oper_1m            600000 non-null  float64
 25  cnt_b_oper_1m            403819 non-null  float64
 26  sum_c_oper_1m            600000 non-null  float64
 27  cnt_c_oper_1m            403819 non-null  float64
 28  sum_deb_d_oper_1m        600000 non-null  float64
 29  cnt_deb_d_oper_1m        403819 non-null  float64
 30  sum_cred_d_oper_1m       600000 non-null  float64
 31  cnt_cred_d_oper_1m       403819 non-null  float64
 32  sum_deb_e_oper_1m        600000 non-null  float64
 33  cnt_deb_e_oper_1m        403819 non-null  float64
 34  cnt_days_deb_e_oper_1m   403819 non-null  float64
 35  sum_cred_e_oper_1m       600000 non-null  float64
 36  cnt_cred_e_oper_1m       403819 non-null  float64
 37  cnt_days_cred_e_oper_1m  403819 non-null  float64
 38  sum_deb_f_oper_1m        600000 non-null  float64
 39  cnt_deb_f_oper_1m        403819 non-null  float64
 40  cnt_days_deb_f_oper_1m   403819 non-null  float64
 41  sum_cred_f_oper_1m       600000 non-null  float64
 42  cnt_cred_f_oper_1m       403819 non-null  float64
 43  cnt_days_cred_f_oper_1m  403819 non-null  float64
 44  sum_deb_g_oper_1m        600000 non-null  float64
 45  cnt_deb_g_oper_1m        403819 non-null  float64
 46  cnt_days_deb_g_oper_1m   403819 non-null  float64
 47  sum_cred_g_oper_1m       600000 non-null  float64
 48  cnt_cred_g_oper_1m       403819 non-null  float64
 49  cnt_days_cred_g_oper_1m  403819 non-null  float64
 50  sum_deb_h_oper_1m        600000 non-null  float64
 51  cnt_deb_h_oper_1m        403819 non-null  float64
 52  cnt_days_deb_h_oper_1m   403819 non-null  float64
 53  sum_cred_h_oper_1m       600000 non-null  float64
 54  cnt_cred_h_oper_1m       403819 non-null  float64
 55  cnt_days_cred_h_oper_1m  403819 non-null  float64
 56  sum_a_oper_3m            600000 non-null  float64
 57  cnt_a_oper_3m            434748 non-null  float64
 58  sum_b_oper_3m            600000 non-null  float64
 59  cnt_b_oper_3m            434748 non-null  float64
 60  sum_c_oper_3m            600000 non-null  float64
 61  cnt_c_oper_3m            434748 non-null  float64
 62  sum_deb_d_oper_3m        600000 non-null  float64
 63  cnt_deb_d_oper_3m        434748 non-null  float64
 64  sum_cred_d_oper_3m       600000 non-null  float64
 65  cnt_cred_d_oper_3m       434748 non-null  float64
 66  sum_deb_e_oper_3m        600000 non-null  float64
 67  cnt_deb_e_oper_3m        434748 non-null  float64
 68  cnt_days_deb_e_oper_3m   434748 non-null  float64
 69  sum_cred_e_oper_3m       600000 non-null  float64
 70  cnt_cred_e_oper_3m       434748 non-null  float64
 71  cnt_days_cred_e_oper_3m  434748 non-null  float64
 72  sum_deb_f_oper_3m        600000 non-null  float64
 73  cnt_deb_f_oper_3m        434748 non-null  float64
 74  cnt_days_deb_f_oper_3m   434748 non-null  float64
 75  sum_cred_f_oper_3m       600000 non-null  float64
 76  cnt_cred_f_oper_3m       434748 non-null  float64
 77  cnt_days_cred_f_oper_3m  434748 non-null  float64
 78  sum_deb_g_oper_3m        600000 non-null  float64
 79  cnt_deb_g_oper_3m        434748 non-null  float64
 80  cnt_days_deb_g_oper_3m   434748 non-null  float64
 81  sum_cred_g_oper_3m       600000 non-null  float64
 82  cnt_cred_g_oper_3m       434748 non-null  float64
 83  cnt_days_cred_g_oper_3m  434748 non-null  float64
 84  sum_deb_h_oper_3m        600000 non-null  float64
 85  cnt_deb_h_oper_3m        434748 non-null  float64
 86  cnt_days_deb_h_oper_3m   434748 non-null  float64
 87  sum_cred_h_oper_3m       600000 non-null  float64
 88  cnt_cred_h_oper_3m       434748 non-null  float64
 89  cnt_days_cred_h_oper_3m  434748 non-null  float64
 90  start_cluster            600000 non-null  object
 91  end_cluster              600000 non-null  object
 92  city                     600000 non-null  object
 93  month_number             600000 non-null  int64
dtypes: float64(81), int64(2), object(11)
memory usage: 430.3+ MB

In [229]:
pivot_columns = [col for col in train_df.columns if col not in ['id', 'date', 'month_number']]

df_pivoted = train_df.pivot_table(index='id', columns='month_number', values=pivot_columns, aggfunc='first')

# Теперь, когда мы сформировали сводную таблицу, преобразуем MultiIndex столбцы в единый уровень
df_pivoted.columns = [f'{col[0]}_{col[1]}month' for col in df_pivoted.columns]

# Переименовываем индекс обратно в столбец 'id', если он стал индексом
df_pivoted.reset_index(inplace=True)

df_pivoted.head()

KeyboardInterrupt

In [ ]:
df_pivoted.info()

In [ ]:
float_cols = df_pivoted.select_dtypes(include=['float64', 'float32'])

std_devs = float_cols.std()
srted = std_devs.sort_values()

srted.head(20)

In [ ]:
float_cols = df_pivoted.select_dtypes(include=['float64', 'float32'])

means = float_cols.mean()

std_devs = float_cols.std()

cv_percent = (std_devs / abs(means)) * 100

sorted_cv_percent = cv_percent.sort_values()

print(sorted_cv_percent.iloc[0:50])
print(sorted_cv_percent.iloc[50:20])

In [ ]:
# float_columns = df_pivoted.select_dtypes(include=['float64']).columns
# df_pivoted[float_columns] = df_pivoted[float_columns].astype('float32')

In [ ]:

X = df_pivoted.drop([
"cnt_a_oper_1m_1month", "cnt_a_oper_1m_2month", "cnt_a_oper_1m_3month",
"cnt_b_oper_1m_1month", "cnt_b_oper_1m_2month", "cnt_b_oper_1m_3month",
"cnt_c_oper_1m_1month", "cnt_c_oper_1m_2month", "cnt_c_oper_1m_3month",
"cnt_deb_d_oper_1m_1month", "cnt_deb_d_oper_1m_2month", "cnt_deb_d_oper_1m_3month",
"cnt_cred_d_oper_1m_1month", "cnt_cred_d_oper_1m_2month", "cnt_cred_d_oper_1m_3month",
"cnt_deb_e_oper_1m_1month", "cnt_deb_e_oper_1m_2month", "cnt_deb_e_oper_1m_3month",
"cnt_cred_e_oper_1m_1month", "cnt_cred_e_oper_1m_2month", "cnt_cred_e_oper_1m_3month",
"cnt_deb_f_oper_1m_1month", "cnt_deb_f_oper_1m_2month", "cnt_deb_f_oper_1m_3month",
"cnt_cred_f_oper_1m_1month", "cnt_cred_f_oper_1m_2month", "cnt_cred_f_oper_1m_3month",
"cnt_deb_g_oper_1m_1month", "cnt_deb_g_oper_1m_2month", "cnt_deb_g_oper_1m_3month",
"cnt_cred_g_oper_1m_1month", "cnt_cred_g_oper_1m_2month", "cnt_cred_g_oper_1m_3month",
"cnt_deb_h_oper_1m_1month", "cnt_deb_h_oper_1m_2month", "cnt_deb_h_oper_1m_3month",
"cnt_cred_h_oper_1m_1month", "cnt_cred_h_oper_1m_2month", "cnt_cred_h_oper_1m_3month",
"cnt_a_oper_3m_1month", "cnt_a_oper_3m_2month", "cnt_a_oper_3m_3month",
"cnt_b_oper_3m_1month", "cnt_b_oper_3m_2month", "cnt_b_oper_3m_3month",
"cnt_c_oper_3m_1month", "cnt_c_oper_3m_2month", "cnt_c_oper_3m_3month",
"cnt_deb_d_oper_3m_1month", "cnt_deb_d_oper_3m_2month", "cnt_deb_d_oper_3m_3month",
"cnt_cred_d_oper_3m_1month", "cnt_cred_d_oper_3m_2month", "cnt_cred_d_oper_3m_3month",
"cnt_deb_e_oper_3m_1month", "cnt_deb_e_oper_3m_2month", "cnt_deb_e_oper_3m_3month",
"cnt_cred_e_oper_3m_1month", "cnt_cred_e_oper_3m_2month", "cnt_cred_e_oper_3m_3month",
"cnt_deb_f_oper_3m_1month", "cnt_deb_f_oper_3m_2month", "cnt_deb_f_oper_3m_3month",
"cnt_cred_f_oper_3m_1month", "cnt_cred_f_oper_3m_2month", "cnt_cred_f_oper_3m_3month",
"cnt_deb_g_oper_3m_1month", "cnt_deb_g_oper_3m_2month", "cnt_deb_g_oper_3m_3month",
"cnt_cred_g_oper_3m_1month", "cnt_cred_g_oper_3m_2month", "cnt_cred_g_oper_3m_3month",
"cnt_deb_h_oper_3m_1month", "cnt_deb_h_oper_3m_2month", "cnt_deb_h_oper_3m_3month",
"cnt_cred_h_oper_3m_1month", "cnt_cred_h_oper_3m_2month", "cnt_cred_h_oper_3m_3month",

"city_type_1month",
"city_type_2month",
"city_type_3month",
"index_city_code_1month",
"index_city_code_2month",
"index_city_code_3month",

"start_cluster_3month",
"id","end_cluster_3month", "end_cluster_2month", "end_cluster_1month"
], axis=1)
y = df_pivoted["end_cluster_3month"]

x_train, x_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

В качестве базовой модели возьмем LGBM обучим на всех признаках

In [ ]:
params_cat = {
    "iterations":1000,
    # "depth":9,
    "learning_rate":0.1,
    "eval_metric":'AUC',
    "random_seed":1,
    "bootstrap_type":'Bayesian',
    "bagging_temperature":1,
    "od_type":'Iter',
    "od_wait":100,
    "task_type":'GPU'
}

In [ ]:
from sklearn.model_selection import StratifiedKFold, LeavePOut, RepeatedStratifiedKFold
from catboost import  CatBoostClassifier


cat_model = CatBoostClassifier(**params_cat)


# cv = KFold(n_splits=7)
cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=12)

# cv = StratifiedKFold(n_splits=6, shuffle=True, random_state=42)
auc_scores = []  # Список для хранения показателей AUC для каждого разбиения

In [ ]:
def weighted_roc_auc(y_true, y_pred, labels, weights_dict):
    unnorm_weights = np.array([weights_dict[label] for label in labels])
    weights = unnorm_weights / unnorm_weights.sum()
    classes_roc_auc = roc_auc_score(y_true, y_pred, labels=labels,
                                    multi_class="ovr", average=None)
    return sum(weights * classes_roc_auc)

In [ ]:
cluster_weights = pd.read_excel("cluster_weights.xlsx").set_index("cluster")
weights_dict = cluster_weights["unnorm_weight"].to_dict()

In [ ]:
# weights_dict

In [ ]:
cat_features = [col for col in X.columns if X[col].dtype.name == 'category' or X[col].dtype.name == 'object']
for col in cat_features:
    X[col] = X[col].astype('category')
    #test_df[col] = test_df[col].astype('category')

In [ ]:
y = y.astype('category')
# y = y.cat.add_categories('Missing').fillna('Missing')

In [ ]:
cat_features = [col for col in X.columns if X[col].dtype.name == 'category' or X[col].dtype.name == 'object']
for col in cat_features:
    X[col] = X[col].cat.add_categories('Missing').fillna('Missing')
cat_features

In [ ]:
cat_features = [col for col in X.columns if X[col].dtype.name == 'category' or X[col].dtype.name == 'object']
cat_features

In [ ]:
X

In [ ]:
y_val.info()

In [ ]:
i=0
for train_idx, val_idx in cv.split(X, y):
    if((i==7) or (i==12) or (i==14) or (i==4)):
        print(f"\n\ni: {i} ")
        x_train, x_val = X.iloc[train_idx], X.iloc[val_idx]
        y_train, y_val = y.iloc[train_idx], y.iloc[val_idx]
        cat_model.fit(
            x_train, y_train,
            eval_set=(x_val, y_val),
            cat_features=cat_features,
            use_best_model=True,
            verbose=True
         )

        y_pred_proba = cat_model.predict_proba(x_val)
        cat_model.save_model(f'meth4+city_other/model_{i}.cbm')
        #i+=1

        auc_score = weighted_roc_auc(y_val, y_pred_proba, cat_model.classes_, weights_dict)
        auc_scores.append(auc_score)
    i+=1

mean_auc = np.mean(auc_scores)
std_auc = np.std(auc_scores)
print(f"Средний взвешенный ROC AUC: {mean_auc:.3f} ± {std_auc:.3f}")